name: Flutter Android Build (APK)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Flutter pub get
        run: flutter pub get

      - name: Ensure gradlew Exists
        run: |
          cd android
          if [ ! -f "./gradlew" ]; then
            gradle wrapper
          fi
          chmod +x gradlew

      - name: Build Debug APK
        run: flutter build apk --debug --no-tree-shake-icons

      - name: Upload Artifact (APK)
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: build/app/outputs/flutter-apk/app-debug.apk
          
